body {
	font-size: 100%;
	font-family: sans-serif;
}
#logo {
	display: block;
	margin: 220px auto 50px auto;
}

input {
	display: block;
	margin: 10px auto;
	font-size: 200%;
}

input[type="submit"]{
	-webkit-appearance: none;
	padding: 5px;
	font-size: 100%;
}
